/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,footer {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
}


/* Personalizado */

/* Estructura grid*/

.header { grid-area: header; }
.main { grid-area: main; }
.aside { grid-area: aside; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main aside aside'
    'footer footer footer footer footer footer';
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: auto;
}



/* Contenido */

body {
  background-color: rgb(33, 33, 33);
  margin-left: 12%;
  margin-right: 12%;
}

/* HEADER */

.header {
  background-color: black;
  overflow: auto;
}

.header div {
  background-color: black;
}

li,p,h1,h2,h3,h4,h5,h6,h7,h8 {
  color: white;
  list-style-position: inside;
}

.header-left {
  float: left;
}

.header img {
  width: 189.75px;
  height: 88px;
  padding: 15px;
}

.header-right {
  float: right;
}

div.header-right {
  display: inline;
  padding: 15px;
}

.header ul {
  padding: 10px;
}

.header li {
  list-style-type: none;
  display: inline;
  padding: 5px;
  font-size: 20px;
  font-family: Oswald,sans-serif;
}

li#fanclub {
  color: rgb(255, 202, 40);
}

.header a:link {color: white;}
.header a:visited {color: white;}
/* MAIN */

.main {
  background-color: rgb(24, 24, 24);
  padding: 5%;
  box-sizing: border-box;
}

@font-face {
  font-family: Oswald; /* Le ponemos nombre */
  src: url("../imagenes/oswald-regular.woff2"); /* Fichero con la fuente */
}

.main h3 {
  padding: 10px;
  background-color: rgb(46, 46, 45);
  line-height: 1.2;
  font-weight: 400;
  font-family: Oswald,helvetica,arial,tahoma,sans-serif;
}

.main h2 {
  padding: 15px;
  background-color: rgb(46, 46, 45);
  line-height: 1.2;
  font-weight: 400;
  font-family: Oswald,helvetica,arial,tahoma,sans-serif;
}

.main p {
  padding: 15px;
  background-color: white;
  font-family: Oswald,sans-serif;
  color: black;
}

.main p, .main ul, .main ul li, .componente{
  background-color: white;
}

.main li {
  color: black;
  font-family: sans-serif;
}

/* COMPONENTES */

.componente {
  padding: 2%;
}

.componente > * {
  width: 50%;

}

.componente p {
  padding: 2%;
}

.componente ul {
  list-style-image: url(../imagenes/flecha.png);
  padding: 5%;
}

.componente li {
  font-family: Oswald,sans-serif;
}

.componente li img {
  width: 22px;
  height: 13px;
}

.componente ul p {
  font-size: 20px;
}

.componente:after {
  content: '';
  display: block;
  clear:both;
  height: 0;
}

.bio-comp {
  border-bottom-color: grey;
  border-bottom-style: groove;
  border-bottom-width: 20px;
}

.col {
  float: left;
  box-sizing: border-box;
  max-width: 100%;

}

.col > * {
  box-sizing: border-box;
  width: 90%;
  margin: 2%;
}

/* EXITOS*/

.main ul.exitos {
  padding: 3%
}

.main ul.exitos li {
  padding: 2%;
  margin: 1%;
  background-color: rgb(46, 46, 45);
  list-style-image: url(../imagenes/youtube.png);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-color: rgb(46, 46, 45);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;

}

ul.exitos a:link {color: white;}
ul.exitos a:visited {color: white;}
ul.exitos li:hover {
  background-color: grey;
  font-weight: bold;
}

/* NOTICIAS */


.noticia {
  margin-bottom: 35px;
}

.noticia h2 {
  padding: 15px;
  background-color: rgb(46, 46, 45);
  line-height: 1.2;
  font-weight: 400;
  font-family: Oswald,helvetica,arial,tahoma,sans-serif;
}

.noticia h3 {
  padding: 10px;
  background-color: black;
  line-height: 1.2;
  font-weight: 400;
  font-family: Oswald,helvetica,arial,tahoma,sans-serif;
}

.noticia p {
  padding: 15px;
  background-color: white;
  font-family: Oswald,sans-serif;
  color: black;
  font-weight: bold;
}

/* BIOGRAFIA */

.bio h3 {
  background-color: rgb(31, 31, 31);
  font-family: Oswald,helvetica,arial,tahoma,sans-serif;
}

/* DISCOGRAFÃA */

.disco .img-d {
  padding: 10%;
  text-align: center;
}

.disco h2, .disco h3 {
  text-align: center;
}

.disco table {
  background-color: rgb(31, 31, 31);
  color: white;
  font-family: Oswald,sans-serif;
  padding: 10%
  width:100%;
}


/* IMAGENES */

img {
  width: 100%;
  max-width: 100%
}

div.img-c {
  padding: 0%;

}

.img-p > img {
  max-width: 100%;
  width: 100%;
}

div.img-p {
  padding: 5%;

}

img#img-comp {
  /*width: 100px;
  height: 50px;*/
}

/* ASIDE */

.aside {
  text-align: center;
  box-sizing: border-box;
  line-height: 1.2;
  font-weight: 400;
  font-family: Oswald,helvetica,arial,tahoma,sans-serif;
  padding: 10%;
  background-color: rgb(24, 24, 24);

}

.aside h2 {
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.comp-aside {
  background-color: white;
  box-sizing: border-box;
  margin-bottom: 45px;
}

.comp-aside img {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 90%;
}

.comp-aside h2 {
  padding: 5%;
  color: black;
}

/* FOOTER */

.footer {
}

/* LINKS */

a {
  text-decoration: none;
}
